@{
  Layout = "_Layout";
}
@using BakeryOrderTracker.Models

<h3>@Model["vendor"].Name's Details:</h3>

<h5>@Model["vendor"].Description</h5>

@if (Model["orders"].Count == 0)
{
  <p>There are no orders for this Vendor.</p>
}
<ul>
  @foreach (Order order in Model["orders"])
  {
    <li><a href="/vendors/@Model["vendor"].Id/orders/@order.Id">@order.Name</a></li>
  }
</ul>
<a href="/">Back Home</a><br>
<a href="/vendors">Back to Vendors</a><br>
<a href="/vendors/@Model["vendor"].Id/orders/new">Add an Order</a>